torchvision
unsloth @ git+https://github.com/unslothai/unsloth.git
unsloth_zoo @ git+https://github.com/unslothai/unsloth-zoo.git
trl==0.20.0
transformers
accelerate
bitsandbytes
peft
datasets
sentencepiece
requests
matplotlib
streamlit==1.35.0
